@import "./src/mixins/mixins.scss";
@import "../../mixins/variables.scss";

.recordEntry {
  @include centeredContent;
  @include softBorders;

  background-color: white;
  color: black;
  font-size: $fz-small;
  padding: 10px 20px;

  @media (max-width: 1200px) {
    padding: 5px 10px;
    font-size: $fz-small-m;
  }

  @media (max-width: 1000px) {
    width: 100%;
    border-radius: unset;
    font-size: 12px;
  }

  span {
    width: 150px;

    @media (max-width: 1200px) {
      width: 130px;
    }

    @media (max-width: 1000px) {
      width: 90px;
    }
  }
}
